<div class="botao-cadastro">
    <a routerLink="/alunos/cadastro">cadastro</a>
</div>


<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Nédia</th>
            <th>Frequencia</th>
            <th>status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(aluno of alunos; track aluno) {
            <tr>
                <th>{{aluno.nome}}</th>
                <th>{{aluno.media.toFixed(2).replace(".", ",")}}</th>
                <th>{{aluno.frequencia}}</th>
                <th>{{aluno.status}}</th>
                <th><button (click)="apagar">apagar</button></th>
            </tr>
        }
    </tbody>
</table>