<h2>Calculadora de Temperatura</h2>

<input type="number" placeholder="Digite a temperatura" [(ngModel)]="temperatura">

<button (click)="kelvinParaFahrenheit()">Kelvin → Fahrenheit</button>
<button (click)="fahrenheitParaKelvin()">Fahrenheit → Kelvin</button>
<button (click)="kelvinParaCelsius()">Kelvin → Celsius</button>
<button (click)="celsiusParaKelvin()">Celsius → Kelvin</button>
<button (click)="fahrenheitParaCelsius()">Fahrenheit → Celsius</button>
<button (click)="celsiusParaFahrenheit()">Celsius → Fahrenheit</button>
